
.calendar {
  background-color: var(--background-dark);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-light);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day {
  background-color: var(--highlight-accent);
  color: var(--highlight-color);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.2s;
}

.calendar-day:hover {
  background-color: var(--highlight-color);
  color: #fff;
  transform: scale(1.05);
}

.today {
  background-color: var(--highlight-color);
  color: #fff;
  font-weight: bold;
}
