
<div class="sidebar">
  <a href="#">&#x1F4C5;</a>
  <a href="#">&#x1F4DD;</a>
  <a href="#">&#x1F50D;</a>
  <a href="#">&#x2699;</a>
</div>

<div class="container">
  <div class="calendar-container card">
    <h2>Calendar</h2>
  </div>
  <div class="reminders-container card">
    <h2>Urgent Reminders</h2>
    <p>Renew Netflix subscription</p>
    <p>Renew Spotify subscription</p>
  </div>
  <div class="subscription-list-container card">
    <h2>Subscriptions Directory</h2>
    <app-list></app-list>
  </div>
  <div class="comments-container card">
    <h2>Comments</h2>
    <p>Elon S. commented: "Find my keynote attached..."</p>
    <p>Dana R. commented: "Added new data..."</p>
  </div>
  <div class="team-directory-container card">
    <h2>Team Directory</h2>
    <p>Dana R. - Project Manager</p>
    <p>Elon S. - Key Account</p>
    <p>Nancy W. - Account Manager</p>
    <p>James M. - Digital Manager</p>
  </div>
</div>
