
.form-container {
  background-color: var(--background-dark);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  color: var(--text-light);
}

label {
  display: block;
  margin-top: 10px;
  color: var(--text-light);
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--highlight-accent);
  color: var(--text-light);
}

button {
  margin-top: 15px;
  width: 100%;
  background-color: var(--highlight-color);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(108, 99, 255, 0.8);
}
